

.box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    background-color: rgba(122, 110, 110, 0.548);
    padding:10rem 1rem;
}

.box{
    justify-content: space-around;
    
}


.box .content{
    width:70rem;
    height: 40rem;
}

.box .content h3{
    margin-top: 7rem;
    font-size: 6rem;
    color: #fff;
    padding-top: .5rem;
    text-transform: uppercase;
}

 .box .content p{
    line-height: 2;
    color: #fff;
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vh;
        background-color: rgba(122, 110, 110, 0.548);
        
    }
    .box .content h3{
        margin-top: 5rem;
        text-align: center;
    }
    .box .content p{
        text-align: center;
    }
    .box .content{
        width: 100%;
        padding: 3rem;
        background-color: rgba(122, 110, 110, 0.548);
    }
}